@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM ANIMATION CSS FOR VUE PRUPOSES */
/* WRAPPER LAYERS */

body {
  @apply bg-black;
}
/* OTHER */
.layerTwo-enter-from {
  opacity: 0;
}
/* Estado final del valor a animar (cuando va a empezar la animación) */
.layerTwo-enter-to {
  opacity: 1;
}
/* Duración entre el estado from y to de fade-enter */
.layerTwo-enter-active {
  transition: opacity 2s ease-in;
}
/* Estado inicial del valor a animar (cuando se va a acabar la animación)*/
.layerTwo-leave-from {
  opacity: 1;
}
/* Estado final del valor a animar (cuando se va a acabar la animación)*/
.layerTwo-leave-to {
  opacity: 0;
}
.layerTwo-leave-active {
  transition: opacity 2s ease-out;
}
/* FIN WARAPER LAYER*/

/* Pregunta */
.questionFade-enter-from {
  opacity: 0;
}
/* Estado final del valor a animar (cuando va a empezar la animación) */
.questionFade-enter-to {
  opacity: 1;
}
/* Duración entre el estado from y to de fade-enter */
.questionFade-enter-active {
  transition: opacity 1s ease-in;
}
/* Estado inicial del valor a animar (cuando se va a acabar la animación)*/
.questionFade-leave-from {
  opacity: 1;
}
/* Estado final del valor a animar (cuando se va a acabar la animación)*/
.questionFade-leave-to {
  opacity: 0;
}
.questionFade-leave-active {
  transition: opacity 1s ease-out;
}

/* Respuesta */
.answerFade-enter-from {
  opacity: 0;
}
/* Estado final del valor a animar (cuando va a empezar la animación) */
.answerFade-enter-to {
  opacity: 1;
}
/* Duración entre el estado from y to de fade-enter */
.answerFade-enter-active {
  transition: opacity 3s ease-in;
}
/* Estado inicial del valor a animar (cuando se va a acabar la animación)*/
.answerFade-leave-from {
  opacity: 1;
}
/* Estado final del valor a animar (cuando se va a acabar la animación)*/
.answerFade-leave-to {
  opacity: 0;
}
.answerFade-leave-active {
  transition: opacity 1s ease-out;
}

.left-0p{left: 0%;}
  /* '5p': '5%',
  '10p': '10%', */
  .left-5p{ left: 5%;}
.left-10p{ left: 10%;}
.left-15p{ left: 15%;}
  /* '20p': '20%', */
  .left-25p{left: 25%;}
  .left-30p{left: 30%;}
  .left-35p{left: 35%;}
  /* '30p': '30%',
  '35p': '35%',
  '40p': '40%',
  '45p': '45%',         */
  .left-40p{left:40%;}
  .left-45p{left:45%;}
.left-50p{left:50%;}
  /* '55p': '55%',
  '60p': '60%',
  '65p': '65%', */
  .left-60p{left:60%;}
  .left-65p{left:65%;}
  .left-70p{left:70%;}
  /* '75p': '75%',
  '80p': '80%',
  '85p': '85%',
  '90p': '90%',
  '95p': '95%',
  '100p': '100%', */

.bottom-50p{bottom:50%;}
.bottom-60p{bottom:60%;}
.bottom-80p{bottom:80%;}
.bottom-90p{bottom:90%;}