@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM ANIMATION CSS FOR VUE PRUPOSES */
/* WRAPPER LAYERS */

/* OTHER */
.layerTwo-enter-from {
  opacity: 0;
}
/* Estado final del valor a animar (cuando va a empezar la animación) */
.layerTwo-enter-to {
  opacity: 1;
}
/* Duración entre el estado from y to de fade-enter */
.layerTwo-enter-active {
  transition: opacity 2s ease-in;
}
/* Estado inicial del valor a animar (cuando se va a acabar la animación)*/
.layerTwo-leave-from {
  opacity: 1;
}
/* Estado final del valor a animar (cuando se va a acabar la animación)*/
.layerTwo-leave-to {
  opacity: 0;
}
.layerTwo-leave-active {
  transition: opacity 2s ease-out;
}
/* FIN WARAPER LAYER*/

/* Pregunta */
.questionFade-enter-from {
  opacity: 0;
}
/* Estado final del valor a animar (cuando va a empezar la animación) */
.questionFade-enter-to {
  opacity: 1;
}
/* Duración entre el estado from y to de fade-enter */
.questionFade-enter-active {
  transition: opacity 1s ease-in;
}
/* Estado inicial del valor a animar (cuando se va a acabar la animación)*/
.questionFade-leave-from {
  opacity: 1;
}
/* Estado final del valor a animar (cuando se va a acabar la animación)*/
.questionFade-leave-to {
  opacity: 0;
}
.questionFade-leave-active {
  transition: opacity 3s ease-out;
}

/* Respuesta */
.answerFade-enter-from {
  opacity: 0;
}
/* Estado final del valor a animar (cuando va a empezar la animación) */
.answerFade-enter-to {
  opacity: 1;
}
/* Duración entre el estado from y to de fade-enter */
.answerFade-enter-active {
  transition: opacity 3s ease-in;
}
/* Estado inicial del valor a animar (cuando se va a acabar la animación)*/
.answerFade-leave-from {
  opacity: 1;
}
/* Estado final del valor a animar (cuando se va a acabar la animación)*/
.answerFade-leave-to {
  opacity: 0;
}
.answerFade-leave-active {
  transition: opacity 5s ease-out;
}
